body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

a:hover {
	text-decoration: none;
}


.App-header {
  background-color: #f05042;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.page-title {
	padding: 20px 0;
	text-align: center;
}

.card {
	margin: 15px 0;
	/*text-align: center;*/
}

.card-text {
	margin-bottom: 3px; 
}

p strong {
	font-weight: 500;
}

.clickable:hover {
	box-shadow:  0 0 8px 0 rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

.home {
	text-align: center;
}

.home h1 {
	font-size: 70px;
}

.back-link {
	text-align: right;
	width: 100%;
}

.back-link img {
	height: 35px;
	width: 35px;
	margin-top: 5px;
}

